@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik:wght@300;500;600;800&display=swap');
*{
    box-sizing: border-box;
    margin: none;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: #222831;
}
/* style guide
    primary: #222831
    secondary #EEEEEE


    text 
    brownlike- #D65A31

 */

.main-container {  display: grid;
    grid-template-columns: 0.5fr 1.3fr 0.5fr;
    grid-template-rows: 0.2fr 1.5fr 1.1fr;
    grid-auto-columns: 1fr;
    gap: 25px 15px;
    grid-auto-flow: row;
    grid-template-areas:
        "navbar navbar navbar"
        "sidebar statistics summary"
        "sidebar orders  summary";
    }
      
    .navbar { 
        grid-area: navbar;
        border: 1px solid #D65A31;
        background-color: rgba(255, 255, 255, 0.058);
        margin: 0 25px;        
        border-radius: 3px;
        align-self: center;
        
        
    }
      
    .sidebar { 
        grid-area: sidebar;
        border: 1px solid #2e3643;
        border-radius: 7px;
        padding-left: 10px;
    }
      
    .statistics { 
        grid-area: statistics; 
        border: 1px solid #2e3643;
        border-radius: 7px;
        align-self: start;
        max-height: 400px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
    }
    .statistics > div{
        display: flex;
        width: 100%;
        
    }
      
    .orders { 
        grid-area: orders; 
        padding: 10px;
        border: 1px solid #2e3643;
        border-radius: 7px;
        max-height: 300px;
    }
      
    .summary { 
        grid-area: summary; 
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        border: 1px solid #2e3643;
        border-radius: 7px;
    }
        .summary> h3 {
            color: white;
            margin-top: 40px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
        }
        .income{
            border-radius: 10px;
            width: 70%;
            height: 100px;
            margin-top: 20px;
            display: flex;
            text-align: center;
            background-color: rgb(20, 200, 20);
            background-image: linear-gradient(to bottom right, rgb(20, 200, 20), rgb(125, 208, 132));
        }
        .income >i {
            align-self: top;
            margin-top: 5%;
            width: 20%;
            fill: white;
        }
        .income > p {
            margin-top: 35px;
            color: white;
            padding: 5px;
            align-self: right;
        }
        .income >p> span{
            color: white;
            font-size: 20px;
        }
        .income >p> span> span{
            color: white;
            font-weight: bold;
        }
        .expenditure{
            border-radius: 10px;
            width: 70%;
            height: 100px;
            display: flex;
            text-align: center;
            background-color: rgb(20, 200, 20);
            background-image: linear-gradient(to bottom right, rgb(255, 13, 13), rgb(201, 159, 157));
       
        }
        .expenditure >i {
            align-self: top;
            margin-top: 5%;
            width: 20%;
            fill: white;
        }
        .expenditure > p {
            font-size: 0.7em;
            margin-top: 40px;
            color: white;
            padding: 5px;
            align-self: right;
        }
        .expenditure >p> span{
            color: white;
            font-size: 20px;
        }
        .expenditure >p> span> span{
            color: white;
            font-weight: bold;
        }
        .week{
            background-color: rgba(255, 255, 255, 0.793);
            margin-top: 30px;
            border-radius: 17px 0px 4px 37px;
            border-right: 4px solid #D65A31;
            border-bottom: 4px solid #D65A31;
            text-align: center;
            width: 70%;
        }
        
        .week > p > span{
            font-size: 27px;
        }
        .month{
            background-color: rgba(255, 255, 255, 0.793);
            border-radius: 17px 0px 4px 37px;
            border-right: 4px solid #D65A31;
            border-bottom: 4px solid #D65A31;
            text-align: center;
            width: 70%;
        }
        .month > p > span{
            font-size: 27px;
        }

      
    .navbar-comp{
        margin: 0 5%;
        
        display: flex;
        align-self: center;
        justify-content: space-between;
        padding: 10px 0;
    }
    .navbar-comp > span{
        font-family: 'Rubik Glitch', cursive;
        color: #D65A31;
    }
    .navbar-comp > img {
        display: none;
    }
    .sidebar-comp {
        height: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 15%;
    }
    .sidebar-comp > div  {
        /* background-image: linear-gradient( to right, rgb(123, 121, 121), #b8c8e1 ); */
        background-color: #303743;
        color: white;
        border-right: 2px solid #D65A31;
        border-top: 1px solid #D65A31;
        margin-bottom: 15px;
        font-size: 15px;
        padding: 10px;
        border-radius: 5px 5px 0px 5px

    }
    .sidebar-comp > div:hover{
        background-color: white;
        transition: 0.5s;
    }
    .active{
        font-size: 12px;
        background-color: white;
        padding: 2px 5px;
        border-radius: 10px;
    }
    .sidetext{
        color: #D65A31;
        font-weight: bold;
    }
    .icon {
        float: left;
        color: #d4aaaa;
        margin-left: 10%;
        margin-right: 10%;
    }
    .client-card{
        display: flex;
        padding: 10px;
        color: white;
        background-color: #303743;
        border-right: 2px solid #D65A31;
        border-top: 1px solid #D65A31;
        border-radius: 5px 5px 0px 5px
    }
    
    .client-card > div {
    }
    .client-card > div > img{
        margin-top: 30px;
        width: 150px;
        height: 130px;
    }
    .client-details{
        margin-top: 20px;
        width: 100%;
        margin-left: 20px;
        padding: 10px;
    }
    .client-details > span {
        color: #D65A31;
        line-height: 25px;
    }
    .client-details > span:nth-child(1){
        font-size: 23px
    }
    .client-details > span:nth-child(2){
        font-size: 15px
    }
    .client-details > span:nth-child(4){
       text-transform: uppercase;
    }
    